* {
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
}

.nav {
    display: flex;
}

.holder {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 90vh;
    animation: coi 20s ease 10s infinite alternate;
}

.pt-10 {
    padding-top: 6em;
}

.ml-10 {
    margin-left: 12em;
}

.lh-3 {
    line-height: 35px;
    font-size: 20px;
}

.g-img {
    display: flex;
    margin-left: 10%;
}

.g-img img {
    width: 30%;
    margin-right: 10px;
    height: 70vh;
    border-radius: 10px;
}

.a {
    text-decoration: none;
}

.w-f {
    width: fit-content;
}

.img_scroll1 {
    transform: translateX(-200px);
    opacity: 0;
    transition: 2s all ease;
}

.active1 {
    transform: translateX(0);
    opacity: 1;
}

.img_scroll2 {
    transform: translateY(250px);
    opacity: 0;
    transition: 2s all ease;
}

.active2 {
    transform: translateX(0);
    opacity: 1;
}

.img_scroll3 {
    transform: translateX(200px);
    opacity: 0;
    transition: 2s all ease;
}

.active3 {
    transform: translateX(0);
    opacity: 1;
}

.steal {
    transform: translateX(200px);
    transition: 2s all ease;
}

.show1 {
    animation: tip 2s ease;
}

@keyframes tip1 {
    from {
        transform: translateY(0px);
        opacity: 0;
    }
    to {
        transform: translateX(200);
        opacity: 1;
    }
}

.show2 {
    animation: tip2 2s ease;
}

@keyframes tip2 {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.show0 {
    animation: tip0 2s ease;
}

@keyframes tip0 {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.index-active {
    animation: index 3s ease;
}

.blogs {
    padding-left: 7%;
}

@keyframes index {
    from {
        transform: translateX(2500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.wwa {
    margin-left: 18%;
}

.centered {
    margin-left: 30%;
}

.login {
    margin-bottom: 15%;
}

.nav-item:hover {
    border-bottom: 1px solid rgb(0, 255, 0);
}

.side {
    width: 40%;
    padding: 20px;
    height: 80vh;
}

.side-item {
    margin-top: 20px;
    text-decoration: none;
    width: 100%;
}

.side-item :hover {
    background-color: rgb(219, 219, 219);
}

.hide {
    visibility: hidden;
}

.none {
    display: none;
}

.w-5 {
    width: 20%;
    height: 20vh;
}


/*about page*/

.about_text {
    margin-left: 10%;
    margin-top: 20px;
    word-spacing: 5px;
}

.about_img {
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

@media screen and (max-width:790px) {
    .about_img {
        display: block;
        margin-left: 20%;
    }
}


/*end about*/


/* new */

.user_con {
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
}

.profile {
    width: 35%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin-right: 10%;
    height: fit-content;
}

.name {
    background-color: white;
    padding: 20px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.user_items {
    padding: 4px;
    background-color: rgb(224, 224, 224);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user_items:hover {
    background-color: #00c3ff;
}

.user_items p {
    margin-top: 20px;
    margin-left: 5px;
}

.user_post {
    width: 70%;
    border-radius: 10px;
    background-color: white;
    margin-right: 10%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    height: fit-content;
}

.posts {
    display: flex;
    grid-column: 200px;
    flex-wrap: wrap;
}

.change_form {
    margin-top: 30%;
}

.post {
    background-color: rgb(224, 224, 224);
    width: 40%;
    padding: 10px;
    height: fit-content;
    margin-left: 30px;
    margin-top: 20px;
}

.description_p {
    font-size: 15px;
}

.container_pro_img {
    position: relative;
}

.num_of_img {
    position: relative;
    top: -18px;
    left: 6px;
    font-size: 18px;
}

.i_num_of_img {
    position: relative;
    top: 5pc;
    left: 10%;
    font-size: 18px;
    color: white;
}

.ed_del {
    display: flex;
    justify-content: space-between;
}

.edit:hover,
.del:hover {
    background-color: rgb(57, 245, 0);
}

.grid-post {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 10px;
}

.history-post {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 10px;
}

.content {
    text-indent: 30px;
    line-height: 30px;
}

.mfl {
    margin-top: 30px;
    margin-left: 5%;
}

.d-f {
    display: flex;
    justify-content: space-between;
}


/*single page*/

.single-more {
    margin-top: 30px;
    margin-right: 40px;
}

.post_single {
    height: fit-content;
    width: 50%;
}

.to-comment {
    height: fit-content;
    width: 10%;
    margin-left: 20px;
    margin-top: 10%;
    cursor: pointer;
}

.comments_section {
    margin-left: 30%;
}

.comment-content {
    width: 40%;
}

.reply-btn {
    margin-left: 30%;
}

.comment {
    border-bottom: 1px solid rgb(223, 223, 223);
    width: 150%;
}

#cancel_reply {
    cursor: pointer;
}

.reply_to {
    display: inline;
}

.surt {
    display: none;
}

.acts {
    margin-left: 30%;
}

#deleted_user {
    display: none;
}

.my-btn {
    background-color: unset;
    border: none;
    margin-left: 18px;
    cursor: pointer;
}


/*end single page*/

.tri-line {
    display: none;
    width: 0%;
}

.card-tem {
    width: 250px;
    height: fit-content;
}

.index-post {
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 767px) {
    .index-post {
        display: grid;
        grid-template-columns: auto;
    }
}


/*three dots*/

.dot {
    border-radius: 50%;
    width: 5px;
    margin-top: 5px;
    height: 5px;
    background-color: black;
}

.dots {
    position: relative;
    margin-left: 90%;
    margin-top: -95%;
}

.dots {
    cursor: pointer;
}

.d {
    margin-top: 80%;
}

.opts {
    display: none;
}


/* send user mail*/

.user-list:hover {
    background-color: #59d8ff;
}

.user-list {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.user-h {
    background-color: rgb(223, 223, 223);
    padding: 30px;
    height: fit-content;
}

#back {
    display: none;
}

.e-form {
    display: none;
}


/*blog page styles*/

.board {
    width: 100%;
}

.blog_img {
    display: none;
}

.blog_img img {
    border-radius: 10px;
    width: 100%
}

#blog_img {
    width: 60%;
}

.title {
    position: relative;
    margin-top: -59px;
    margin-left: 20px;
}


/*arrows*/

.arr {
    border: solid rgb(7, 113, 253);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.ho {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 37%;
    top: 48%;
    cursor: pointer;
    display: none;

}



.hol {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    cursor: pointer;
    display: none;
}



.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 35%;
    margin-top: 35%;
}

.left {
    transform: rotate(135deg);
    margin-left: 35%;
    margin-top: 35%;
}

#blog-page {
    margin-left: 7%;
}

.row_posts {
    display: none;
    margin: 10px;
    height: 50vh;
    width: 300px;
}

.row_post {
    display: flex;
    width: 80%;
    padding-right: 20px;
}

.rowR {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 10%;
    padding-top: 10px;
}

.rowR:hover {
    background-color: #81b7ff;
}

.rowL {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 10%;
    padding-top: 10px;
}

.rowL:hover {
    background-color: #81b7ff;
}

.rowGo {
    animation: rowGo 2s ease;
}

@keyframes rowGo {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.fake {
    animation: fake 2s ease;
}

@keyframes fake {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(-30px);
    }
}

.more_blog {
    width: 60%;
}

.black-line {
    width: 100%;
    background-color: rgb(201, 201, 201);
    height: 1vh;
}

.red-line {
    width: 10%;
    background-color: rgb(224, 8, 8);
    height: 1vh;
    display: block;
}

.m_ps {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.m_p {
    width: 100%;
}

.latest-post {
    margin-left: 10%;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: red;
    text-decoration: none;
}

.m_p_img {
    cursor: pointer;
    width: 300px;
}

.scale {
    transform: scale(1.05);
}

.text-grey {
    color: rgb(117, 117, 117);
    text-transform: capitalize;
    width: 70%;
    text-indent: 20px;
}

.read_more {
    width: fit-content;
    border: 1px solid rgb(190, 0, 0);
    padding: 10px;
    color: rgb(124, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.read_more:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}

.slash {
    opacity: .5;
}

.ans {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    width: 30%;
    height: fit-content;
    position: absolute;
    margin-left: 36%;
}

.fb {
    background-color: rgb(0, 94, 201);
    width: 75%;
    font-weight: 500;
    color: white;
    height: fit-content;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.tw {
    background-color: rgb(119, 204, 253);
    width: 75%;
    font-weight: 500;
    color: white;
    height: fit-content;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.yt {
    background-color: rgb(255, 38, 38);
    width: 75%;
    font-weight: 500;
    color: white;
    height: fit-content;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.sum {
    margin-left: 5px;
    margin-right: 10%;
}

.play {
    display: none;
}

.same {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 600px) {
    /*blog style */
#blog-page {
    margin-left: 2%;
}

    .board {
        width: 150%;
    }
    .ho {
        right: 9.5%;
    }
    .row_post {
        display: none;
    }
    .m_p_img {
        width: 200px;
    }
    .m_ps {
        margin-right: 30px;
    }
    /*end*/
    .nav {
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.774);
        position: absolute;
        right: 0;
        top: 100%;
        padding: 20px;
        margin-right: 10px;
        width: 80%;
        height: 50vh;
    }
    .show {
        display: none;
    }
    .line {
        border-bottom: 2px solid black;
        width: 100%;
        margin-top: 5px;
    }
    .tri-line {
        width: 5%;
        display: block;
        margin-right: 20px;
        margin-top: 2%;
        height: fit-content;
    }
    /*index page start*/
    .ml-10 {
        margin-left: 5px;
    }
    .pt-10 {
        padding-top: 20%;
    }
    .wwa {
        margin-top: 0%;
    }
    .holder {
        height: 50vh;
    }
    .g-img {
        display: block;
    }
    .g-img img {
        display: block;
        width: 70%;
        height: 60vh;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 40px;
    }
    .testimonies {
        margin-left: 20%;
    }
    .index-post {
        grid-template-columns: auto auto;
        margin-left: 13%;
    }
    /*index page end*/
    /*admin page start*/
    .user_con {
        display: block;
    }
    .profile {
        width: 80%;
    }
    .history-post {
        grid-template-columns: auto auto;
    }
    /*styles are done in individual admin pages end*/
    /*single page*/
    .single-more {
        display: none;
    }
    .post_single {
        width: 90%;
    }
    .to-comment {
        display: none;
    }
    body {
        background-color: lightgreen;
    }
}

@media only screen and (max-width: 768px) {

    body {
        background-color: rgb(144, 182, 238);
    }
    .row_post{
        display: none;
    }
     /*index page end*/
    /*admin page start*/
    .user_con {
        display: block;
    }
    .profile {
        width: 100%;
    }
    .history-post {
        grid-template-columns: auto auto;
    }
    /*styles are done in individual admin pages end*/
    /*single page*/
    .single-more {
        display: none;
    }
    .post_single {
        width: 100%;
    }
    .to-comment {
        display: none;
    }
}
